let projects = [
 {
   name: 'bunko',
   id: 'watchout-bunko-dev',
   apiKey: 'AIzaSyChFTPdmWi2SlzPgWRsa7fdb2oCGcKCfQg'
   // id: 'watchout-bunko-prod',
   // apiKey: 'AIzaSyCVd4IiWaZyLI_f6oOvaKCmIvNHVygbWh8'
 }
]

export default {
 db: {
   timestampsInSnapshots: true
 },
 projects: Object.assign({}, ...projects.map(project => ({
   [project.name]: {
     apiKey: project.apiKey,
     authDomain: `https://${project.id}.firebaseio.com`,
     projectId: project.id
   }
 }))),
 sysUsers: {
   dev: {
     email: 'dev@watchout.tw',
     password: 'watch0ut'
   }
 }
}
