@import '~watchout-common-assets/styles/resources';
@import '~watchout-common-assets/styles/color';
@import '~watchout-common-assets/styles/prompt-overlay';

@import 'watchout-common-functions/node_modules/mapbox-gl/dist/mapbox-gl.css';
@import 'watchout-common-functions/node_modules/@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i');

.font-size-large {
  font-size: 1.25rem;
}
.text-align-default {
  text-align: left;
}

.map-box {
  width: 100%;
  padding-bottom: 1rem;
  > .map-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    @include tcl-sm {
      height: 50vh;
    }
    min-height: 12rem;
    max-height: 36rem;

    > .map {
      width: 100%;
      flex-grow: 1;
      &.mapboxgl-map {
        font-family: $font-sans-serif;
        font-size: auto;
      }
      .mapboxgl-canvas {
        &:active, &:focus {
          outline: none;
        }
      }
      .mapboxgl-popup {
        max-width: 16rem;
        line-height: $line-height-default;
      }
      .mapboxgl-popup-content {
        min-width: 4rem;
        padding: 0.25rem 0.5rem;
        > .marker-html {
          margin: 0.5rem 0;
        }
      }
      .mapboxgl-popup-close-button {
        font-size: 1.5rem;
        line-height: 1;
        padding:0 0.25rem;
      }
    }
    > .datetime {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.25rem 0.5rem;
      background: white;
      font-size: $font-size-small;
      font-weight: bold;
    }
  }
  > .active-features {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    > .feature {
      position: relative;
      padding: 0.5rem;
      border: 0.5rem solid transparent;
      @include shadow;
      > .primary-secondary-fields {
        font-size: $font-size-small;
        line-height: $line-height-tight;
      }
      > .title {
        font-family: 'Gentium Book Basic', $font-sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: $line-height-tight;
        margin: 0.25rem 0;
      }
      > .title-tw {
        font-weight: bold;
      }
      > .image-container {
        background-color: $color-generic-grey;
      }
      > .audio {
        width: 100%;
      }
      > .more {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0.25rem;
        font-size: $font-size-tiny;
        line-height: $line-height-tight;
        color: $color-secondary-text-grey;
        @include underline($color-watchout, 1.0);
      }
    }
  }
  > .note {
    color: rgba(white, 0.95);
  }
  &.dark {
    background-color: $color-dark-grey;
  }
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    font-size: $font-size-tiny;
  }
}
